/* geral */
html{
    scroll-behavior: smooth;
}

body{
    
    font-family: 'Times', serif;
}

footer{
    background-color: black;
    color: white;
}

.icon{
    color: yellow;
    font-size: 1.5rem;
}

/* topo do site com imagem */

.hero-section {
    background-image: url('../images/imagem_de_topo.webp'); /* Substitua pela URL da imagem correta */
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    background: rgba(255, 255, 255, 0.6); /* Aumentada a transparência */
    padding: 30px 50px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Times New Roman', serif;
    height: 200px; /* Altura maior */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand img {
    width: 40px;
    height: auto;
}


img {
    max-width: 100%;
    height: auto;
}

.img_planejados{
    border-bottom-left-radius: 100px;
}

.row {
    text-align: center;
}

/* carrossel de produtos */
.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-card {
    flex: 0 0 100%; /* Por padrão, ocupa 100% */
    max-width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.carousel-card img {
    max-width: 80%;
    height: auto;
    border-radius: 5px;
}

.carousel-card h5 {
    margin: 0.5rem 0;
}

.carousel-card p {
    font-size: 0.9rem;
    color: #555;
}

.carousel-card a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    color: black;
    background-color: #f5da43;
    text-decoration: none;
    border-radius: 5px;
    
}


.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* botões do site */
.btn{
    background-color: #f5da43;
    color:black;
}

.btn:hover{
    background-color: #c2ac34;
    color:black;
}

.btn_up_footer{
    background-color: yellow;

}

.imgFooter{
    width: 100px;
}


/* Estilo do Carrossel de Avaliações */
.carousel-reviews {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel-track-reviews {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-card-reviews {
   flex: 0 0 100%; /* Por padrão, ocupa 100% */
    max-width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.carousel-card-reviews p {
    font-size: 1rem;
    color: #333;
    font-style: italic;
}

.carousel-card-reviews h5 {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
}

/* Botões de navegação */
.carousel-buttons-reviews {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons-reviews button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-buttons-reviews button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


@media (min-width: 768px) { /* Tablets */
    h1 {
        font-size: 3.5rem;
    }
    p {
        font-size: 1.05rem;
    }
    .row {
        text-align: left;
    }

    /* responsividade do carrossel de produtos */

    .carousel-card {
        flex: 0 0 50%; /* Ocupa 50% em telas médias */
        max-width: 50%;
    }

    /* responsividade de carrossel de avaliações */
    .carousel-card-reviews {
        flex: 0 0 50%;
        max-width: 50%;
    }
}



@media (min-width: 1024px) {
    p {
        font-size: 1.45rem;
    }

    /* responsividade do carrossel de produtos */
    .carousel-card {
        flex: 0 0 25%; /* Ocupa 25% em telas grandes */
        max-width: 25%;
    }

    .carousel-card h5 {
        margin: 0.5rem 0; 
        font-size: 1.3rem;
    }
    
    .carousel-card p {
        font-size: 1.1rem;
        color: #555;
    }

    /* responsividade de carrossel de avaliações */
    .carousel-card-reviews {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .carousel-card-reviews p {
        font-size: 1.1rem;
        color: #333;
        font-style: italic;
    }
    
    .carousel-card-reviews h5 {
        font-size: 1.3rem;
    }    

    .icon{
        font-size: 2rem;
    }
}

@media (min-width: 1200px) { /* Larger desktops */

    /* responsividade imagem superior */
    h1 {
        font-size: 3.5rem;
    }
    p {
        font-size: 1.7rem;
    }
}

