.hero-section {
    background-image: url('../images/bacround_topo.png'); /* Substitua pela URL da imagem correta */
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    background: rgba(255, 255, 255, 0.6); /* Aumentada a transparência */
    padding: 30px 50px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Times New Roman', serif;
    height: 200px; /* Altura maior */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand img {
    width: 40px;
    height: auto;
}


img {
    max-width: 100%;
    height: auto;
}

.row {
    text-align: center;
}

@media (min-width: 768px) { /* Tablets */
    .responsive-text h1 {
        font-size: 3.5rem;
    }
    .responsive-text p {
        font-size: 1.25rem;
    }

    .row {
        text-align: left;
    }
}

@media (min-width: 1200px) { /* Larger desktops */
    .responsive-text h1 {
        font-size: 4.5rem;
    }
    .responsive-text p {
        font-size: 1.5rem;
    }
}
